<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>SFProRoundedBold.ttf</string>
		<string>SFProRoundedHeavy.otf</string>
		<string>SFProRoundedMedium.ttf</string>
		<string>SFProRoundedRegular.otf</string>
		<string>SFProRoundedSemibold.ttf</string>
	</array>
	<key>UIApplicationSupportsShakeToEdit</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>需要蓝牙权限以搜索并连接设备</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>需要蓝牙权限以搜索并连接设备</string>
	<key>NSCameraUsageDescription</key>
	<string>需要相机权限以扫码和拍摄图片</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>需要麦克风权限以录制语音内容</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>需要相册权限以选择图片</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>需要相册权限以保存图片</string>
</dict>
</plist>
